<%- include partials/header.ejs %>

<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>
    <div class="main-content">

        <div class="container">

            <!-- SELECT -->
            <div class="form-group">
                <label class="titulo-tabelas" for="clientes">Clientes</label>
                <select class="form-control bg-dark text-light" id="clientes">
                    <option value="">Todos</option>
                    <option value="">Ativos</option>
                    <option value="">Inativos</option>
                </select>
            </div>

            <!-- TABELA -->
            <div class="table-responsive tabelas">
                <table class=" table table-hover">
                    <tr class=" bg-dark text-light">
                        <th>Nome</th>
                        <th>Sobrenone</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Email</th>
                    </tr>
                    <% clientes.forEach(cliente => { %>
                    <tr>
                        <td><%= cliente.nome %></td>
                        <td><%= cliente.sobrenome %></td>
                        <td><%= cliente.cpf %></td>
                        <td><%= cliente.telefone %></td>
                        <td><%= cliente.email %></td>
                    </tr>
                    <% }) %>
                </table>
            </div> <!-- FIM TABELA -->

            <div>
                <button class="btn btn-dark mt-3">Visualizar</button>
                <button class="btn btn-dark mt-3">Editar</button>
                <button class="btn btn-dark mt-3">Adicionar</button>
            </div>

        </div>

    </div>
</body>
<%- include partials/footer.ejs %>