<%- include partials/header.ejs %>
<<<<<<< HEAD
<body>
<<<<<<< HEAD
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>
    
=======
    <div id="principal">
        
        <div class="bg-primary float-left col-6">
            <h1>a</h1>
        </div>

        <div class="bg-success float-right col-6">
            <h1>b</h1>
        </div>

>>>>>>> 46fd4f77f5e087c0807eaf62d86f140574ca19de
    </div>
=======

<body>
    <%- include partials/navbar.ejs %>
    <%- include partials/sidebar.ejs %>

    <!-- Área de Conteúdos -->
    <div class="main-content">

        <div class="jumbotron mt-4 mb-1">

            <h1 class="display-3">Academia Teste</h1>
            <P class="lead">
                Bem-vindo ao seu painel de controle administrativo!
            </P>
            <p class="lead">
                Gerêncie aqui os clientes, os pacotes promocionais e as mensalidades.
            </p>

        </div>

        <div class="row" id="cards">

            <div class="col-sm-6 col-md-4">

                <div class="card bg-success">
                    <div class="card-body text-center">
                        <h3 class="card-tittle">Clientes ativos</h3>
                        <span class="card-text display-4">47</span>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <div class="card bg-danger">
                    <div class="card-body text-center">
                        <h3 class="card-tittle">Pagamentos atrasados</h3>
                        <span class="card-text display-4">4</span>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-4">

                <div class="card bg-success mb-4">
                    <div class="card-body text-center">
                        <h3 class="card-tittle">Total de entradas</h3>
                        <span class="card-text display-4">R$ 2.320,00</span>
                    </div>
                </div>

            </div>

        </div>

    </div>

>>>>>>> b5356be761e9d1b3937f37d920ab564900b4d5e5
</body>
<%- include partials/footer.ejs %>