<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>
    <div class="main-content">
        <h2>Detalhes da Mensalidade</h2>
        <hr>
        <div id="detalhesCliente">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12"><span class="font-weight-bold">Nome: </span> <%= mensalidade.cliente.nome %>
                    </div>
                    <div class="col-md-12"><span class="font-weight-bold">Sobrenome: </span>
                        <%= mensalidade.cliente.sobrenome %>
                    </div>
                    <div class="col-md-12"><span class="font-weight-bold">CPF: </span> <%= mensalidade.cliente.cpf %>
                    </div>

                    <% var v = mensalidade.valor %>
                    <% var real = v.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                    <div class="col-md-12"><span class="font-weight-bold">Valor: </span> <%= real %>
                    </div>

                    <% var de = new Date(mensalidade.dataEmissao) %>
                    <% var deAtualizada = (de.getDate() + 1) + "/" + (de.getMonth()+1) + "/" + de.getFullYear(); %>
                    <div class="col-md-12"><span class="font-weight-bold">Data de Emissão: </span> <%= deAtualizada %>
                    </div>

                    <% var dv = new Date(mensalidade.dataVencimento) %>
                    <% var dvAtualizada = (dv.getDate() + 1) + "/" + (dv.getMonth()+1) + "/" + dv.getFullYear(); %>
                    <div class="col-md-12"><span class="font-weight-bold">Data de Vencimento: </span> <%= dvAtualizada %>
                    </div>

                    <% var dp = new Date(mensalidade.dataPagameneto) %>
                    <% var dpAtualizada = (dp.getDate() + 1) + "/" + (dp.getMonth()+1) + "/" + dp.getFullYear(); %>
                    <div class="col-md-12"><span class="font-weight-bold">Data de Pagamento: </span> 
                        <% if(dpAtualizada != 'NaN/NaN/NaN'){ %>
                            <%= dpAtualizada %>
                        <% } %>
                    </div>

                    <div class="col-md-12"><span class="font-weight-bold">Forma de Pagamento: </span> 
                        <% if( mensalidade.formaPagamento != undefined){ %>
                            <%= mensalidade.formaPagamento %>
                        <% } %>
                    </div>

                    <div class="col-md-12"><span class="font-weight-bold">Status: </span> 
                        <%= mensalidade.status %>
                    </div>

                </div>


                <div class="col-md-3">
                    <form action="" class="form-group">
                        <div class="form-group col-md-12 inline">
                            <label for="inputPagamento" class="font-weight-bold">Forma de Pagamento</label>
                            <select class="form-control" name="selectPagamento" id="selectPagamento">
                                <option value="">Selecione</option>
                                <option value="">Cartão</option>
                                <option value="">Depósito</option>
                                <option value="">Dinheiro</option>
                                <option value="">Transferência</option>
                            </select>
                            <input type="hidden" name="inputPagamento" value="Dinheiro" id="inputPagamento">
                        </div>
                        <div>
                            <a href="" class="btn btn-success">Validar</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</body>

<%- include ../../partials/footer.ejs %>
<script>
    document.getElementById("selectPagamento").addEventListener("change", selectPagamento);
    function selectPagamento() {
        var selectPagamento = document.getElementById("selectPagamento");
        var selecionandoPagamento = selectPagamento.options[selectPagamento.selectedIndex].text;
        document.getElementById("inputPagamento").value = selecionandoPagamento;
    }
</script>