<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>
    <div class="main-content">
        <h2 class="titulos">Pacotes</h2>
        
        <hr>
        <div class="table-responsive-md table-bordered tabelas">
            <table class="table">
                <thead class="tabela-head">
                    <tr class="">
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Taxa de Desconto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% pacotes.forEach(pacote => { %>
                    <% if(pacote.nome !== 'Nenhum'){ %>
                    <tr class="tabelas-linhas">
                        <td> <%= pacote.nome %> </td>
                        <td> <%= pacote.descricao %> </td>
                        <td> <%= pacote.taxaDesconto %> </td>
                        <td width="180px">
                            <a href="/administrador/pacotes/editar/<%= pacote.id %>"
                                class="btn btn-sm btn-warning">Editar</a>
                            <form class="inline" method="POST" action="/pacotes/delete"
                                onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= pacote.id %>">
                                <button class="btn btn-sm btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                    <% }) %>
                </tbody>
            </table>
            
        </div>
        <a class="btn btn-info" href="/administrador/pacotes/cadastro">Cadastrar pacote</a>
</body>
<%- include ../../partials/footer.ejs %>
<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decisao = confirm("Você quer deletar este pacote?");
        if (decisao) {
            form.submit();
        }
    }
</script>