<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>
    <div class="main-content">
        <h2 class="titulos">Detalhes do Cliente</h2>
        <hr>
        <div id="detalhesCliente">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <div class="col-md-12"><span >Nome: </span> <%= cliente.nome %></div>
                    <div class="col-md-12"><span >Sobrenome: </span> <%= cliente.sobrenome %>
                    </div>
                    <% var dataNormal = new Date( cliente.dataNascimento) %>
                    <% var dataAtualizada = dataNormal.toLocaleDateString('en-GB'); %>
                    <div class="col-md-12"><span >Data de Nascimento: </span>
                        <%= dataAtualizada %> </div>
                    <div class="col-md-12"><span >CPF: </span> <%= cliente.cpf %></div>
                    <div class="col-md-12"><span >Telefone: </span> <%= cliente.telefone %>
                    </div>
                    <div class="col-md-12"><span >Email: </span> <%= cliente.email %></div>
                    <div class="col-md-12"><span >Pacote: </span> <%= cliente.pacote.nome %>
                    </div>
                    <div class="col-md-12"><span >Status: </span>
                        <% if(cliente.ativo == 1){ %>
                        Ativo
                        <% }else{ %>
                        Inativo
                        <% } %>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-12"><span >Logradouro: </span>
                        <%= cliente.enderecocliente.logradouro %></div>
                    <div class="col-md-12"><span >Número: </span>
                        <%= cliente.enderecocliente.numero %></div>
                    <div class="col-md-12"><span >Cidade: </span>
                        <%= cliente.enderecocliente.cidade %></div>
                    <div class="col-md-12"><span >Bairro </span>
                        <%= cliente.enderecocliente.bairro %></div>
                    <div class="col-md-12"><span >CEP: </span>
                        <%= cliente.enderecocliente.cep %></div>
                    <div class="col-md-12"><span >UF: </span> <%= cliente.enderecocliente.uf %>
                    </div>
                </div>
            </div>

            <div class="row">
                <form action="" class="form-group form-inline">
                    <div>
                        <a href="/administrador/clientes/editar/<%= cliente.id %>" class="btn btn-warning">Editar</a>
                    </div>
                    <div>
                        <% if(cliente.ativo == 1){ %>
                            <button class="btn btn-danger">Inativar</button>
                        <% }else{ %>
                            <button class="btn btn-success">Ativar</button>
                        <% } %>
                        <a href="/administrador/clientes/listar" class="btn btn-success ml-1">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include ../../partials/footer.ejs %>