<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>
    <div class="main-content">
        <h2>Clientes</h2>
        <hr>
        <div class="table-responsive-md table-bordered tabelas">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenone</th>
                        <th>CPF</th>
                        <th>Pacote</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% clientes.forEach(cliente => { %>
                        <tr class="tabelas-linhas">
                            <td> <%= cliente.nome %> </td>
                            <td> <%= cliente.sobrenome %> </td>
                            <td> <%= cliente.cpf %> </td>
                            <td> <%= cliente.pacote.nome %> </td>
                            <td> <%= cliente.enderecocliente.bairro %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</body>

<%- include ../../partials/footer.ejs %>