<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<body>
    <div class="main-content">
        <h2 class="titulos">Clientes</h2>

        <br>
        <select id="select" name="marca" class="form-control" required>
            <option value="/administrador/clientes/listar">Todos</option>
            <option value="/administrador/clientes/ativos">Ativos</option>
            <option value="/administrador/clientes/inativos">Inativos</option>
        </select>
        <hr>
        <div class="form-group">
            <input id="busca" type="text" class="form-control" placeholder="Buscar">
        </div>
        <div class="table-responsive-md tabelas">
            <table class="table">
                <thead class="tabela-head">
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>CPF</th>
                        <th class="ocultar-colunas">Pacote</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <% clientes.forEach(cliente => { %>
                    <tr class="tabelas-linhas">
                        <td> <%= cliente.nome %> </td>
                        <td> <%= cliente.sobrenome %> </td>
                        <td> <%= cliente.cpf %> </td>
                        <td class="ocultar-colunas"> <%= cliente.pacote.nome %> </td>
                        <td>
                            <a href="/administrador/clientes/detalhes/<%= cliente.id %>"
                                class="btn btn-sm btn-success">Detalhes</a>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <a class="btn btn-info" href="/administrador/clientes/cadastro">Cadastrar cliente</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#select').on('change', function () {
                var url = $(this).val();
                if (url) {
                    window.open(url, '_self');
                }
                return false;
            });
        });
    </script>
</body>

<%- include ../../partials/footer.ejs %>