<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<%- include ../../partials/background.ejs %>

<body>

    <div class="main-content">
        <div class="container">

            <h2 class="titulos">Relatório Geral</h2>

            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Filtro</span>
                </div>
                <select id="select" name="marca" class="form-control" required>
                    <% if(selecionado == '00') { %>
                        <option selected value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '01') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option selected value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '02') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option selected value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '03') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option selected value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '04') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option selected value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '05') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option selected value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '06') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option selected value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '07') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option selected value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '08') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option selected value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '09') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option selected value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '10') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option selected value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '11') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option selected value="/administrador/relatorios/listar/11">Novembro</option>
                        <option value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
    
                        <% if(selecionado == '12') { %>
                        <option value="/administrador/relatorios/listar">Todos</option>
                        <option value="/administrador/relatorios/listar/01">Janeiro</option>
                        <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                        <option value="/administrador/relatorios/listar/03">Março</option>
                        <option value="/administrador/relatorios/listar/04">Abril</option>
                        <option value="/administrador/relatorios/listar/05">Maio</option>
                        <option value="/administrador/relatorios/listar/06">Junho</option>
                        <option value="/administrador/relatorios/listar/07">Julho</option>
                        <option value="/administrador/relatorios/listar/08">Agosto</option>
                        <option value="/administrador/relatorios/listar/09">Setembro</option>
                        <option value="/administrador/relatorios/listar/10">Outubro</option>
                        <option value="/administrador/relatorios/listar/11">Novembro</option>
                        <option selected value="/administrador/relatorios/listar/12">Dezembro</option>
                        <% }%>
                </select>
            </div>
            <hr>

            <!-- CARDS -->

            <!-- REFERENTE A CLIENTES -->
            <h4 class="text-light" class="">Clientes</h4>

            <div class="row lista-cards">
                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light"
                                href="/administrador/clientes/listar">Total</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numClientes %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light"
                                href="/administrador/clientes/ativos">Ativos</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numClientesAtivos %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light"
                                href="/administrador/clientes/inativos">Inativos</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numClientesInativos %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Homens</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numHomens %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Mulheres</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numMulheres %></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- REFERENTE A MENSALIDADES -->
            <h4 class="text-light" class="">Mensalidades</h4>

            <div class="row lista-cards">
                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light"
                                href="/administrador/mensalidades/aberto">Em aberto</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numMensalidadeReceber %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light"
                                href="/administrador/mensalidades/pago">Pagas</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numMensalidadePago %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light"
                                href="/administrador/mensalidades/atraso">Em atraso</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numMensalidadeAtraso %></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- REFERENTE A VALOR DAS MENSALIDADES -->
            <div class="row lista-cards">
                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">A receber</a></h5>
                        <div class="card-body text-center">
                            <% var valorReceber = relatorio.totalReceber.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorReceber %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Recebido</a></h5>
                        <div class="card-body text-center">
                            <% var valorPago = relatorio.totalEntradas.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorPago %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Em atraso</a></h5>
                        <div class="card-body text-center">
                            <% var valorAtraso = relatorio.totalAtraso.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorAtraso %></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <!-- REFERENTE A FORMAS DE PAGAMENTOS -->
            <h4 class="text-light" class="">Formas de pagamentos</h4>

            <div class="row lista-cards">
                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Dinheiro</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numDinheiro %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Cartão</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numCartao %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Depósito</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numDeposito %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Transferência</a></h5>
                        <div class="card-body text-center">
                            <span class="card-text display-4"><%= relatorio.numTransferencia %></span>
                        </div>
                    </div>
                </div>

            </div>
            <hr>

            <!-- REFERENTE AOS VALORES EM CADA FORMA DE PAGAMENTO -->
            <h4 class="text-light" class="">Valores recebidos</h4>

            <div class="row lista-cards">

                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Dinheiro</a></h5>
                        <div class="card-body text-center">
                            <% var valorDinheiro = relatorio.valorDinheiro.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorDinheiro %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Cartão</a></h5>
                        <div class="card-body text-center">
                            <% var valorCartao = relatorio.valorCartao.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorCartao %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Depósito</a></h5>
                        <div class="card-body text-center">
                            <% var valorDeposito = relatorio.valorDeposito.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorDeposito %></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="card card-colors">
                        <h5 class="card-header"><a class="nav-link text-light">Transferência</a></h5>
                        <div class="card-body text-center">
                            <% var valorTransferencia = relatorio.valorTransferencia.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>

                            <span class="card-text display-4"><%= valorTransferencia %></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
<%- include ../../partials/footer.ejs %>