<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<%- include ../../partials/background.ejs %>

<body>

    <div class="main-content">
        <div class="container">

            <h2 class="titulos">Relatórios</h2>

            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Filtro</span>
                </div>
                <select id="select" name="marca" class="form-control" required>
                    <% if(selecionado == '00') { %>
                    <option selected value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '01') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option selected value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '02') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option selected value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '03') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option selected value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '04') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option selected value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '05') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option selected value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '06') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option selected value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '07') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option selected value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '08') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option selected value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '09') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option selected value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '10') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option selected value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '11') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option selected value="/administrador/relatorios/listar/11">Novembro</option>
                    <option value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>

                    <% if(selecionado == '12') { %>
                    <option value="/administrador/relatorios/listar">Todos</option>
                    <option value="/administrador/relatorios/listar/01">Janeiro</option>
                    <option value="/administrador/relatorios/listar/02">Fevereiro</option>
                    <option value="/administrador/relatorios/listar/03">Março</option>
                    <option value="/administrador/relatorios/listar/04">Abril</option>
                    <option value="/administrador/relatorios/listar/05">Maio</option>
                    <option value="/administrador/relatorios/listar/06">Junho</option>
                    <option value="/administrador/relatorios/listar/07">Julho</option>
                    <option value="/administrador/relatorios/listar/08">Agosto</option>
                    <option value="/administrador/relatorios/listar/09">Setembro</option>
                    <option value="/administrador/relatorios/listar/10">Outubro</option>
                    <option value="/administrador/relatorios/listar/11">Novembro</option>
                    <option selected value="/administrador/relatorios/listar/12">Dezembro</option>
                    <% }%>
                </select>
            </div>
            <hr>

            <div class="table-responsive-md tabelas">
                <table class="table table-sm" id="tabela">
                    <caption>Relatório de clientes</caption>
                    <thead class="tabela-head">
                        <tr>
                            <th>Total de clientes</th>
                            <th>Ativos</th>
                            <th>Inativos</th>
                            <th>Homens</th>
                            <th>Mulheres</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabelas-linhas">
                            <td><%= relatorio.numClientes %></td>
                            <td><%= relatorio.numClientesAtivos %></td>
                            <td><%= relatorio.numClientesInativos %></td>
                            <td><%= relatorio.numHomens %></td>
                            <td><%= relatorio.numMulheres %></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>

            <div class="table-responsive-md tabelas">
                <table class="table table-sm" id="tabela">
                    <caption>Relatório de mensalidades</caption>
                    <thead class="tabela-head">
                        <tr>
                            <th>Em aberto</th>
                            <th>Valor em aberto</th>
                            <th>Pagas</th>
                            <th>Valor pago</th>
                            <th>Em atraso</th>
                            <th>Valor em atraso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabelas-linhas">
                            <td><%= relatorio.numMensalidadeReceber %></td>
                            <td>
                                <% var valorReceber = relatorio.totalReceber.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorReceber %>
                            </td>
                            <td><%= relatorio.numMensalidadePago %></td>
                            <td>
                                <% var valorPago = relatorio.totalEntradas.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorPago %>
                            </td>
                            <td><%= relatorio.numMensalidadeAtraso %></td>
                            <td>
                                <% var valorAtraso = relatorio.totalAtraso.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorAtraso %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <hr>

            <div class="table-responsive-md tabelas">
                <table class="table table-sm" id="tabela">
                    <caption>Relatório de formas de pagamentos</caption>
                    <thead class="tabela-head">
                        <tr>
                            <th>Dinheiro</th>
                            <th>Valor</th>
                            <th>Cartão</th>
                            <th>Valor</th>
                            <th>Depósito</th>
                            <th>Valor</th>
                            <th>Transferência</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tabelas-linhas">
                            <td><%= relatorio.numDinheiro %></td>
                            <td>
                                <% var valorDinheiro = relatorio.valorDinheiro.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorDinheiro %>
                            </td>
                            <td><%= relatorio.numCartao %></td>
                            <td>
                                <% var valorCartao = relatorio.valorCartao.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorCartao %>
                            </td>
                            <td><%= relatorio.numDeposito %></td>
                            <td>
                                <% var valorDeposito = relatorio.valorDeposito.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorDeposito %>
                            </td>
                            <td><%= relatorio.numTransferencia %></td>
                            <td>
                                <% var valorTransferencia = relatorio.valorTransferencia.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %>
                                <%= valorTransferencia %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    </div>
</body>
<%- include ../../partials/footer.ejs %>